<a href="https://colab.research.google.com/github/ErnestoFranCh/Repaso/blob/main/Diccionarios_listas_etc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Strings.

In [ ]:
#Multi linea
aviso_mult = ''' AVISO
MULTI Linea '''

print(aviso_mult)

 AVISO
MULTI Linea

## Concatenacion

In [ ]:
a = 'aviso'
b = 'concatenacion'

print(a + ' ' + b)

aviso concatenacion

## Secuencias de espacios.

`\n`: new line

`\t`: Tab means(8 spaces)

`\\`: Back slash

`\'`: Single quote (')

`\"`: Double quote (")

In [ ]:
print('I hope everyone is enjoying the Python Challenge.\nAre you ?') # line break
print('Days\tTopics\tExercises') # adding tab space or 4 spaces
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash  symbol (\\)') # To write a backslash
print('In every programming language it starts with \"Hello, World!\"') # to write a double quote inside a single quote

I hope everyone is enjoying the Python Challenge.
Are you ?
Days	Topics	Exercises
Day 1	5	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash  symbol (\)
In every programming language it starts with "Hello, World!"

## Formatos de impresion en pantalla.

`%s` - String (or any object with a string representation, like numbers)

`%d` - Integers

`%f` - Floating point numbers

`"%.number of digitsf"` - Floating point numbers with fixed precision

In [ ]:
# Strings only
first_name = 'Ernesto'
last_name = 'Franco'
language = 'Python'

formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print(formated_string)

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) #%(variables que se imprimiran en pantalla)

print(formated_string)

python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' % (python_libraries)
print(formated_string)

I am Ernesto Franco. I teach Python
The area of circle with a radius 10 is 314.00.
The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [ ]:
a = 6
b = 'Hola'
c = 'el resuldato de  %%() es:\n a = %d\n b = %s' %(a,b)
print(c)

el resuldato de  %() es:
 a = 6
 b = Hola

## `str.format(variables)`

In [ ]:
#Strings
first_name = 'Ernesto'
last_name = 'Franco'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

I am Ernesto Franco. I teach Python

In [ ]:
a = 'esto'
b = 'es'
c = 'una prueba'
print('prueba 1: {} {} {}'.format(a,b,c))
print('prueba 2: {} {} {}'.format(a,c,b))

prueba 1: esto es una prueba
prueba 2: esto una prueba es

In [ ]:
#numeros
a = 1
b = 2
print('la suma es: {} + {} = {}'.format(a,b,a+b))
print('{} // {} = {}'.format(a,b,a//b)) #resultado entero de la division

la suma es: 1 + 2 = 3
1 // 2 = 0

## Interpolacion de strings

In [ ]:
a = 5
b = 6
c = 'hola'
print(f'{a} + {b} = {a + b}')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} / {b} = {a / b}')
print(f'{c}')

5 + 6 = 11
5 - 6 = -1
5 * 6 = 30
5 / 6 = 0.8333333333333334
hola

## Strings como secuencias de caracteres.

### Desempaquetado.

In [ ]:
palabra = 'python'
a,b, c, d, e,f = palabra
print(a)
print(b)
print(c)
print(d)
print(e)
print(f) #el desempaquetado debe ser completo no parcial

p
y
t
h
o
n

In [ ]:
palabra = 'python'
a,b, c, d, *f = palabra
print(a)
print(b)
print(c)
print(d)
print(f) #el desempaquetado debe ser completo no parcial

p
y
t
h
['o', 'n']

In [ ]:
palabra = 'python'
a,b, c, d, e = palabra
print(a)
print(b)
print(c)
print(d)
print(e) #el desempaquetado debe ser completo no parcial

ValueError: too many values to unpack (expected 5)

### Acceder a caracteres por indexacion.

![Captura de pantalla_14-4-2025_191251_github.com.jpeg]()

In [ ]:
palabra = 'python'
print(f'accediendo a los caracteres de {palabra}\n')
print('atras hacia delante: \tAlreves:')

print('\t',palabra[0],'\t\t',palabra[-1])
print('\t',palabra[1],'\t\t',palabra[-2] )
print('\t',palabra[2],'\t\t', palabra[-3])
print('\t',palabra[3],'\t\t', palabra[-4])
print('\t',palabra[4],'\t\t', palabra[-5])
print('\t',palabra[5],'\t\t', palabra[-6])

accediendo a los caracteres de python

atras hacia delante: 	Alreves:
	 p 		 n
	 y 		 o
	 t 		 h
	 h 		 t
	 o 		 y
	 n 		 p

### Rebanando strings

```python
#Sintaxis string[inicio:final:paso]
string[0:4:1] #inicia en 0, termina en 4, cada 1 lugar. Toma en cuenta el valor en 0, no toma en cuenta el valor en indice 4
```

In [ ]:
palabra = 'python'
print(f'Saltando segun un paso: {palabra[-6::2]}')
print(f'Saltando segun un paso opc2: {palabra[0::2]}')
print(f'Saltando segun un paso opc3: {palabra[::2]}')
print(f'primeros 3 caracteres: {palabra[0:3]}')
print(f'los ultimos 3 caracteres: {palabra[3:]} \nalternativa: {palabra[-3:]}')

Saltando segun un paso: pto
Saltando segun un paso opc2: pto
Saltando segun un paso opc3: pto
primeros 3 caracteres: pyt
los ultimos 3 caracteres: hon
alternativa: hon

### Revertir.

In [ ]:
palabra = 'python'
print(f'palabra al reves: {palabra[::-1]}')
print(f'palabra al reves segun un paso: {palabra[::-2]}')

palabra al reves: nohtyp
palabra al reves: nhy

## Metodos de string

### `.capitalize()`

In [ ]:
#primer caracter en mayuscula
plabras = 'python es un lenguaje de programacion '
print(plabras.capitalize())

Python es un lenguaje de programacion

### `.count()`

`.count(substring,inicio,final)`

In [ ]:
print(plabras.count('a'))
print(plabras.count('a',0,19))

3
1

### `.endswith() y .startswith()`

In [ ]:
print(plabras.endswith(' '))
print(plabras.endswith('g'))

True
False

In [ ]:
challenge = 'thirty days of python'
print(challenge.startswith('thirty')) # True

challenge = '30 days of python'
print(challenge.startswith('thirty')) # False

True
False

### `expandtabs():`
Reemplaza los tabs por espacios.

In [ ]:
challenge = 'thirty\tdays\tof\tpython'
print(challenge.expandtabs())  #por default son 8 espacios
print(challenge.expandtabs(10)) #se pueden definir el numero de espacios
print(challenge.expandtabs(0))

thirty  days    of      python
thirty    days      of        python
thirtydaysofpython

### `.find()`
Reetorna el ultimo indice de ocurrencia de la substring

In [ ]:
challenge = 'thirty days of python'
print(challenge.find('y'))  # 5
print(challenge.find('th')) # 0
print(challenge.find('x')) #la no ocurrencia retorna -1

5
0
-1

### `.isalnum()`
Comprueba si una cadena es alfanumerica, los espacios no son alfanumericos.

In [ ]:
texto1 = 'hola1'
texto2 = 'hola como estas'
texto3 ='¿hola?'

print(texto1.isalnum())
print(texto2.isalnum())
print(texto3.isalnum())

True
False
False

### `.isalpha()`
Comprubea si son caracteres alfabeticos.

In [ ]:
texto = 'Estos son caracteres alfabeticos'
texto2 = 'ñó'
print(texto.isalpha())
print(texto2.isalpha())

False
True

### `.isdecimal()`

In [ ]:
challenge = 'thirty days of python'
print(challenge.isdecimal())  # False
challenge = '123'
print(challenge.isdecimal())  # True
challenge = '\u00B2'
print(challenge.isdigit())   # False
challenge = '12 3'
print(challenge.isdecimal())  # False, space not allowed

False
True
True
False

### `.isdigit()`
comprueba si son 0-9 y algunos caracteres unicode para numeros

In [ ]:
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True
challenge = '\u00B2' # ^2
print(challenge.isdigit())   # True

False
True
True

### `.isnumeric()`
Igual que el anterior pero mas perro (identifica mas caracteres)

In [ ]:
challenge = 'Thirty'
print(challenge.isdigit()) # False
challenge = '30'
print(challenge.isdigit())   # True
challenge = '\u00B2'
print(challenge.isdigit())   # True

False
True
True

### `.isidentifier()`
Comprueba si es un identificador valido.Un identificador debe cumplir estas reglas:

- Comienza con una letra (a-z, A-Z) o guión bajo (_).

- Seguido de letras, dígitos (0-9) o guiones bajos.

- No puede ser una palabra reservada de Python (ej: `if`, `for`, `class`).

In [ ]:
challenge = '30DaysOfPython'
print(challenge.isidentifier()) # False, because it starts with a number
challenge = 'thirty_days_of_python'
print(challenge.isidentifier()) # True

False
True

### `.islower(), .isupper()`
Verifica si todo el string son minusculas o mayusculas.

In [ ]:
challenge = 'thirty days of python'
print(challenge.islower()) # True
challenge = 'Thirty days of python'
print(challenge.islower()) # False

challenge = 'thirty days of python'
print(challenge.isupper()) #  False
challenge = 'THIRTY DAYS OF PYTHON'
print(challenge.isupper()) # True

True
False
False
True

### `.strip()`
Remueve caracteres asignados.

In [ ]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth')) # 'irty days of py'

irty days of py

### `.replace():`
Reemplaza una substring por otra

In [ ]:
challenge = 'thirty days of python'
print(challenge.replace('python', 'coding')) # 'thirty days of coding'

thirty days of coding

In [ ]:
print(challenge.replace('y', 'a'))

thirta daas of pathon

### `.split():`
Rebana una string y devuelve una lista, dando una caracter como separador.

In [ ]:
challenge = 'thirty days of python'
print(challenge.split()) # ['thirty', 'days', 'of', 'python']
challenge1 = 'thirty, days, of, python'
print(challenge1.split(', ')) # ['thirty', 'days', 'of', 'python']

print(challenge.split('ir'))

['thirty', 'days', 'of', 'python']
['thirty', 'days', 'of', 'python']
['th', 'ty days of python']

#List

## Creando listas

In [ ]:
lista1 = list()
lista2 = []
print(lista1)
print(lista2)

[]
[]

## Diferentes tipos de datos dentro de listas

In [ ]:
lst = ['Asabeneh', 250, True, {'country':'Finland', 'city':'Helsinki'},(1,2),[1,2,3],{'rojo', 'azul', 'verde'}] # list containing different data types
lst[:]

['Asabeneh',
 250,
 True,
 {'country': 'Finland', 'city': 'Helsinki'},
 (1, 2),
 [1, 2, 3],
 {'azul', 'rojo', 'verde'}]

## Accediendo a la lista por indice.

Similar a la particion de los strings, podemos acceder al contenido de la lista segun su indice.

```python
#sintaxis [inicio:fin:paso]
```
Si se define el fin, el rango seria `0,1,..,fin-1`
No definir el fin selecciona el rango hasta el ultimo objeto de la lista. Ej. `[0:]`

![Captura de pantalla_14-4-2025_213615_github.com.jpeg]()

![Captura de pantalla_14-4-2025_213647_github.com.jpeg]()

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
first_fruit = fruits[0]
rango_fruits = fruits[0:3]
inverse_fruits = fruits[::-1] #Dado que el paso es negativo, python asume que el inicio es en el ultimo item de la lista
index_negative = fruits[-2]
pase_fruits = fruits[0::2]
paseNegative_index = fruits[:-1:-2] #Dado que el paso es negativo, python asume que el inicio es en el ultimo item, el resultado esperado es una lista vacia


print(first_fruit)
print(rango_fruits)
print(inverse_fruits)
print(index_negative)
print(pase_fruits)
print(paseNegative_index)

banana
['banana', 'orange', 'mango']
['lemon', 'mango', 'orange', 'banana']
mango
['banana', 'mango']
[]

In [ ]:
fruits[-1:]

['lemon']

## Desempaquetando listas.
Sigue una logica similar a los strings.

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruta1,fruta2,*frutas = fruits # el * asigna los valores restantes a la variable frutas
print(fruta1)
print(fruta2)
print(frutas)

banana
orange
['mango', 'lemon']

In [ ]:
first, second, third,*rest, tenth = [1,2,3,4,5,6,7,8,9,10]
print(first)
print(second)
print(third)
print(rest)
print(tenth)

1
2
3
[4, 5, 6, 7, 8, 9]
10

In [ ]:
countries = ['Germany', 'France','Belgium','Sweden','Denmark','Finland','Norway','Iceland','Estonia']
gr, *fr, bg, sw, scandic, es = countries
print(gr)
print(fr)
print(bg)
print(sw)
print(scandic)
print(es)

Germany
['France', 'Belgium', 'Sweden', 'Denmark']
Finland
Norway
Iceland
Estonia

## Modificar lista

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits[0] = 'apple'  #Acceder al indice = elemento por el que se sutituye
print(fruits)

fruits[0:2] = ['apple','blueberry']
print(fruits)

fruits1 = fruits #Crea una vista del objeto
fruits1[0] = ['blueberry','watermelon'] # si esta vista se modifica despues, se modificara el objeto original

print('\nLas vistas modifican la lista original\n')
print(fruits1)
print(fruits)

fruits2 = fruits.copy()
fruits2[0] = 'apple'
print('\nLas copias no modifican la lista original\n')
print(fruits2)
print(fruits)

['apple', 'orange', 'mango', 'lemon']
['apple', 'blueberry', 'mango', 'lemon']

Las vistas modifican la lista original

[['blueberry', 'watermelon'], 'blueberry', 'mango', 'lemon']
[['blueberry', 'watermelon'], 'blueberry', 'mango', 'lemon']

Las copias no modifican la lista original

['apple', 'blueberry', 'mango', 'lemon']
[['blueberry', 'watermelon'], 'blueberry', 'mango', 'lemon']

## Revisar si un objeto existe

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
does_exist = 'banana' in fruits

print(does_exist)  # True
does_exist = 'lime' in fruits
print(does_exist)  # False

does_exist = ['banana', 'orange'] in fruits #revisa si el objeto lista esta en fruits
print(does_exist)  # False

True
False
False

## Agregar nuevos items.

### `append()`

```python
#sintaxis:
          list.append(item)
```

In [ ]:
#agrega nuevos objeto al final de la lista
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.append('apple')
print(fruits)

fruits.append(['blueberry','watermelon'])
print(fruits)

['banana', 'orange', 'mango', 'lemon', 'apple']
['banana', 'orange', 'mango', 'lemon', 'apple', ['blueberry', 'watermelon']]

### `insert()`
Inserta un item en un indice especificado:
```python
#sintaxis:
          list.insert(index,item)
```

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.insert(2,'apple')
print(fruits)

fruits.insert(1,['blueberry','watermelon'])
print(fruits)

['banana', 'orange', 'apple', 'mango', 'lemon']
['banana', ['blueberry', 'watermelon'], 'orange', 'apple', 'mango', 'lemon']

## Remover items

### `remove()`



```python
# sintaxis
          list.remove(item)
```

In [ ]:
fruits = ['banana', 'orange', 'apple', 'mango', 'lemon']
fruits2 = ['banana', ['blueberry', 'watermelon'], 'orange', 'apple', 'mango', 'lemon']

fruits.remove('banana')
print(fruits)

fruits2.remove(['blueberry', 'watermelon'])
print(fruits2)

['orange', 'apple', 'mango', 'lemon']
['banana', 'orange', 'apple', 'mango', 'lemon']

### `pop()`

Remueve un item segun un indice especificado. Por default remueve el ultimo item



```python
# sintaxis:
            list.pop(index)
            list.pop()       #ultimo item
```

In [ ]:
fruits = ['banana', 'orange', 'apple', 'mango', 'lemon']
fruits2 = ['banana', ['blueberry', 'watermelon'], 'orange', 'apple', 'mango', 'lemon']

fruits.pop(0)
print(fruits)

fruits2.pop(1)
print(fruits2)

['orange', 'apple', 'mango', 'lemon']
['banana', 'orange', 'apple', 'mango', 'lemon']

### del
`del` es una keyword
elimina un indice, rango de indices o el objeto completo.



```python
# sintaxis
          del list
          del list[index]
```
En general elimina:

- Variables

- Elementos de listas, tuplas (solo listas mutables), diccionarios

- Rebanadas (slices) de listas

- Atributos de objetos

- Elementos de estructuras complejas

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'lime',['blueberry', 'watermelon']]

del fruits[0]
print(fruits)

del fruits[1:3]
print(fruits)

del fruits

'fruits existe' if 'fruits' in globals() else 'fruits no existe'

['orange', 'mango', 'lemon', 'kiwi', 'lime', ['blueberry', 'watermelon']]
['orange', 'kiwi', 'lime', ['blueberry', 'watermelon']]

'fruits no existe'

### `clear()`



```python
# sintaxis:
        list.clear()
```

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'lime',['blueberry', 'watermelon']]

fruits.clear()
print(fruits)

[]

## `copy()`

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon', 'kiwi', 'lime',['blueberry', 'watermelon']]
fruits_copy = fruits.copy()

print(fruits_copy)

['banana', 'orange', 'mango', 'lemon', 'kiwi', 'lime', ['blueberry', 'watermelon']]

## Juntando listas

### `+`



```python
#sintaxis
        list3 = list1 + list2
```

In [ ]:
positive_numbers = [1, 2, 3, 4, 5]
zero = [0]
negative_numbers = [-5,-4,-3,-2,-1]
integers = negative_numbers + zero + positive_numbers
print(integers) # [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

### `extend()`



```python
# sintaxis
list1 = ['item1', 'item2']
list2 = ['item3', 'item4', 'item5']
list1.extend(list2)
```
la nueva lista se agrega al final.

In [ ]:
negative_numbers = [-5,-4,-3,-2,-1]
positive_numbers = [1, 2, 3,4,5]
zero = [0]

negative_numbers.extend(zero)
negative_numbers.extend(positive_numbers)
print('Integers:', negative_numbers)

Integers: [-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

## Contando items.

### `count()`



```python
#sintaxis
lst = ['item1', 'item2']
lst.count(item)
```
Cuenta el numero de veces que aparece un item

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.count('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.count(24))           # 3

fruits2 = ['banana', ['orange', 'mango'], 'lemon']
print(fruits2.count(['orange', 'mango']))  # 1

fruits3 = ['banana', {'fruta1':'el mango es un mango', 'fruta2':'lemon'},'orange']
print(fruits3[1]['fruta1'].count('mango')) #2

1
3
1
2

## `index()`



```python
#sintaxis:
          list.index(item)
```

Retorna el indice de la primera aparicion del item

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(fruits.index('orange'))   # 1
ages = [22, 19, 24, 25, 26, 24, 25, 24]
print(ages.index(24))           # 2

fruits3 = ['banana', {'fruta1':'el mango es un mango', 'fruta2':'lemon'},'orange']
print(fruits3[1]['fruta1'].index('mango')) # 0:'e' , 1:'l' , 2:' ', 3:'mango'

1
2
3

## `reverse()`
Revierte el orden de la lista.


```python
#sintaxis:
          list.reverse()
```

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print('Lista original:', fruits)
fruits.reverse()
print('Lista invertida:', fruits)

Lista original: ['banana', 'orange', 'mango', 'lemon']
Lista invertida: ['lemon', 'mango', 'orange', 'banana']

## `sort()`


```python
# syntax
lst = ['item1', 'item2']
lst.sort()                # ascending
lst.sort(reverse=True)    # descending
```
`sort()` solo funciona si la lista tiene elemento del mismo tipo

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits.sort()
print(fruits)

fruits.sort(reverse=True)
print(fruits)

ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages.sort()
print(ages) #  [19, 22, 24, 24, 24, 25, 25, 26]

ages.sort(reverse=True)
print(ages)

print("\n----------------------\n")
fruits2 = ['banana', ['orange', 'mango'], 'lemon']
fruits2[1].sort()
print(fruits2)

['banana', 'lemon', 'mango', 'orange']
['orange', 'mango', 'lemon', 'banana']
[19, 22, 24, 24, 24, 25, 25, 26]
[26, 25, 25, 24, 24, 24, 22, 19]

----------------------

['banana', ['mango', 'orange'], 'lemon']

### `sorted`

Ordena la lista sin modificar la original

In [ ]:
fruits = ['mango','banana', 'orange' , 'lemon']
print(sorted(fruits))   # ['banana', 'lemon', 'mango', 'orange']
print(fruits)

print('\n----------------\n')
# Reverse order
fruits = ['banana', 'orange', 'mango', 'lemon']
fruits = sorted(fruits,reverse=True)
print(fruits)     # ['orange', 'mango', 'lemon', 'banana']

['banana', 'lemon', 'mango', 'orange']
['mango', 'banana', 'orange', 'lemon']

----------------

['orange', 'mango', 'lemon', 'banana']

## `len()`
Regresa el tamaño de un objeto iterable.

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
print(len(fruits))

4

In [ ]:
lista = ['a','b','c','a']
a = [1 for x in lista[:] if x == 'a']
print(a)

[1, 1]

#Tuplas

Conjunto de datos iterable y ordenado que una vez declarada no puede modificarse.

Funciones y metodos aplicadas a las Tuplas: `len()`, `count()`, `index()`,`del`

Se puede rebanar a las tuplas.

- Ucupan menos memoria y son mas rapidas que las listas.
- Las funciones que retornan multiples valores, retornan tuplas
- Pueden usar como las keys en los diccionarios
- Pueden usarse en bases de datos estructuradas de datos fijos.

In [ ]:
# syntax
empty_tuple = ()
# or using the tuple constructor
empty_tuple = tuple()

### Tupla con un solo item

In [ ]:
tupl = ('item')
print(type(tupl)) # Las tuplas de un elemento sin ',' al final son strings

tupl = ('item',) #Para definir una tupla de un elemento agregar ',' al final
print(type(tupl))

<class 'str'>
<class 'tuple'>

In [ ]:
# Syntax
tpl = ('item1', 'item2', 'item3')
first_item = tpl[0:2]
second_item = tpl[1]

print(first_item)
print(second_item)

('item1', 'item2')
item2

In [ ]:
# syntax
tpl = ('item1', 'item2', 'item3')
len(tpl)

3

## Tupla --- > List

In [ ]:
tpl = ('item1', 'item2', 'item3')
lst = list(tpl)
print(lst)
tupl = tuple(lst)
print(tupl)

['item1', 'item2', 'item3']
('item1', 'item2', 'item3')

## Verificar existencia de un item

In [ ]:
tpl = (1,2,3,4,5)
print(1 in tpl)

True

## Joinig

In [ ]:
tupl = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5', 'item6')
tpl3 = tupl + tpl2
print(tpl3)

('item1', 'item2', 'item3', 'item4', 'item5', 'item6')

## del

In [ ]:
tpl = ('item1', 'item2', 'item3')
del tpl

#Set
Un set en Python es una colección desordenada, iterable, no indexada y de elementos únicos. Puedes eliminar elementos pero no modificar los existentes.

se pueden aplicar las funciones iterables como `len()`

In [ ]:
#sintaxis
set_variable = set()
set_variable = {'item1', 'item2', 'item3'}

##Verificar un item

In [ ]:
st = {'item1', 'item2', 'item3'}
print('item1' in st)

True

## `add()`
Los elementos de set deben ser `hasheables`, es decir, inmutables.
por lo tanto solo puedes agregar items que cumplan esta caracteristicas como lo son las tuplas y los items unicos.

In [ ]:
st = {'item1', 'item2', 'item3'}
st.add(('item4','item5'))
print(st)

st.add('item6')
print(st)

#add() no retorna nada

print(st.add('item8')) # no retonarna pero si modifica el set
print(st)

{'item2', ('item4', 'item5'), 'item1', 'item3'}
{'item1', ('item4', 'item5'), 'item6', 'item3', 'item2'}
None
{'item1', ('item4', 'item5'), 'item6', 'item8', 'item3', 'item2'}

### `update`
Agregar varis items al set, recibe una lista de los items a agregar

In [ ]:
st = {'item1', 'item2', 'item3'}
st.update(['item4','item5'])
print(st)

st.update([(1,2),('item',)])
print(st)

{'item4', 'item1', 'item5', 'item3', 'item2'}
{'item4', 'item1', (1, 2), 'item5', 'item3', 'item2', ('item',)}

## Remover items

### `.remove()` y `discard()`

In [ ]:
st = {'item1', 'item2', 'item3'}
st.remove('item1') #Remueve el item, si no esta, lanza error
print(st)

st.discard('item') #remueve el item, si no esta, no lanza nada
print(st)

{'item2', 'item3'}
{'item2', 'item3'}

## `pop()`
Remueve un item al azar y lo retorna

In [ ]:
st = {'banana', 'orange', 'mango', 'lemon'}
print(st.pop())

mango

## operaciones de conjuntos

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)   # Unión: {1, 2, 3, 4, 5}
print(a & b)   # Intersección: {3}
print(a - b)   # Diferencia: {1, 2}
print(a ^ b)   # Diferencia simétrica: {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [ ]:
a = {1,2,3}
b = {3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(a.symmetric_difference(b))

a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}
{3}
{1, 2}
{1, 2, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

## superset y subset

In [ ]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
print(st2.issubset(st1)) # True
print(st1.issuperset(st2) )# True

True
True

##`isdisjoint()`

Si dos sets no tienen elementos en comun.

In [ ]:
even_numbers = {0, 2, 4 ,6, 8}
odd_numbers = {1, 3, 5, 7, 9}
even_numbers.isdisjoint(odd_numbers) # True, because no common item

True

#Diccionario

Un diccionario (`dict`) es una estructura de datos que almacena pares clave-valor.
Es desordenado, mutable y rápido para búsquedas, inserciones y eliminaciones por clave.

In [ ]:
# syntax
empty_dict = {}
# Dictionary with data values
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}

In [ ]:
#ejemplo:

person = {
    'first_name':'Ernesto',
    'last_name':'Franco',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }

## `keys()`
Retornas las keys del diccionario

In [ ]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'country', 'is_marred', 'skills', 'address'])

## `values()`
retorna los valores del diccionario

In [ ]:
person.values()

dict_values(['Ernesto', 'Franco', 250, 'Finland', True, ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], {'street': 'Space street', 'zipcode': '02210'}])

## `len()`
Devuelve el numero de keys

In [ ]:
len(person)

7

##Acceder a los values.

```python
#sintaxis:
          dict['key1']
          #imprime: value1, correspondiente a key1
```

In [ ]:
person['first_name']

'Ernesto'

In [ ]:
print(person['skills'][0]) #accede al value correspondiente, para despues acceder al value correspondiente al indice 0 de la lista.

JavaScript

## `get()`
Acceder a una key que no existe retorna error. `get()` retorna none si no existe

In [ ]:
person = {
    'first_name':'Ernesto',
    'last_name':'Franco',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
    }
print(person.get('first_name'))
print(person.get('country'))    # Finland
print(person.get('skills')) #['HTML','CSS','JavaScript', 'React', 'Node', 'MongoDB', 'Python']
print(person.get('city'))   # None

Ernesto
Finland
['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
None

## Agregar elementos

In [ ]:
person['city'] = 'Oslo' #dict[new_key] = new_item
person

{'first_name': 'Ernesto',
 'last_name': 'Franco',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'city': 'Oslo'}

Debemos jugar con las funciones y metodos que ya hemos visto para agregar nuevos elementos al diccionario.

In [ ]:
person['skills'].append('C+') #person['skills'] : retonar un objeto de tipo list, se agrega el metodo .append('new_item') para agregar el nuevo valor
person

{'first_name': 'Ernesto',
 'last_name': 'Franco',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'C+'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'city': 'Oslo'}

## Modificaciones

In [ ]:
person['last_name'] = 'chavez'
person

{'first_name': 'Ernesto',
 'last_name': 'chavez',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'C+'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'city': 'Oslo'}

### Checar llaves

In [ ]:
person = {'first_name': 'Ernesto',
 'last_name': 'chavez',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'C+'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'city': 'Oslo'}


print('last_name' in person)

True

## Removiendo items

- `pop(key)`: remueve el iten con una key especifica
- `popitem()`: remueve el ultimo item
- `del`: remueve el diccionario o el item con una key especifica

In [ ]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.pop('key1') # removes key1 item
print(dct)

dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct.popitem() # removes the last item
print(dct)


del dct['key2'] # removes key2 item
print(dct)

{'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}
{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key1': 'value1', 'key3': 'value3'}

## Diccionario a lista de items

### `items()`

Este metodo vuelve al diccionario en una lista de tuplas

In [ ]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.items()) # dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

dict_items([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3'), ('key4', 'value4')])

In [ ]:
person = {'first_name': 'Ernesto',
 'last_name': 'chavez',
 'age': 250,
 'country': 'Finland',
 'is_marred': True,
 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'C+'],
 'address': {'street': 'Space street', 'zipcode': '02210'},
 'city': 'Oslo'}

lst = person.items()
lst

dict_items([('first_name', 'Ernesto'), ('last_name', 'chavez'), ('age', 250), ('country', 'Finland'), ('is_marred', True), ('skills', ['JavaScript', 'React', 'Node', 'MongoDB', 'Python', 'C+']), ('address', {'street': 'Space street', 'zipcode': '02210'}), ('city', 'Oslo')])

## `clear()`, `del`, `copy()`

In [ ]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct.clear()) # None

None

In [ ]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
del dct

In [ ]:
# syntax
dct = {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
dct_copy = dct.copy() # {'key1':'value1', 'key2':'value2', 'key3':'value3', 'key4':'value4'}
print(dct_copy)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}