<a href="https://colab.research.google.com/github/ErnestoFranCh/Repaso/blob/main/filter_map_reduce.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# map

Función incorporada de Python que permite aplicar una función a cada elemento de un iterable (como una `list`, `tuple`, etc.) de forma eficiente. Devuelve un objeto `map` (que puedes convertir a `list`, `tuple`, etc.).



```python
map(función, iterable)
```

In [6]:
def potencia(x):
  return x**2

tupla = (1,2,34)

a = map(potencia,tupla)
print(list(a))

b = list(map(lambda x: x**2,tupla))
print(b)

[1, 4, 1156]
[1, 4, 1156]

#filter

Función incorporada de Python que sirve para filtrar elementos de un iterable según una condición (una función que devuelve True o False). Devuelve un objeto `map` (que puedes convertir a `list`, `tuple`, etc.).



```python
filter(función, iterable)
```

In [8]:
def pares(l):
  if l%2 == 0:  #Los resultados son True o False al ser condicional
    return l

lista = [2,3,57,8,10]

a = filter(pares,lista)
print(list(a))

b = filter(lambda x: x%2 == 0,lista)
print(list(b))

[2, 8, 10]
[2, 8, 10]

# reduce

Aplica una función acumulativa a los elementos de un iterable, reduciéndolos a un solo valor.

```python
from functools import reduce

reduce(función, iterable, valor_inicial_opcional)
```

In [10]:
from functools import reduce

numbers_str = ['1', '2', '3', '4', '5']  # iterable

def add_two_nums(x, y):
    return int(x) + int(y)

total = reduce(add_two_nums, numbers_str)
print(total)    # 15

15

In [14]:
#valor inicial

lis = [1,2,3,4,5]

total = reduce(lambda a,b : a+b, lis,10) #empieza a sumar desde 10
total

25

# sorted

Función incorporada en Python que se usa para ordenar elementos de cualquier iterable (como `list`, `tuple`, `dict`, `sets`, etc.) y devuelve una nueva lista ordenada, sin modificar el iterable original.



```python
sorted(iterable, key=None, reverse=False)

```

| Parámetro | Descripción                                                      |
|-----------|------------------------------------------------------------------|
| `iterable`| Lo que quieres ordenar (lista, tupla, string, etc.)             |
| `key`     | Una función que define la base de la ordenación                 |
| `reverse`| Si es `True`, ordena de forma descendente (default: `False`)     |

In [16]:
estudiantes = [
    {'nombre': 'Luis', 'nota': 90},
    {'nombre': 'Ana', 'nota': 100},
    {'nombre': 'Carlos', 'nota': 85}
]

ordenados = sorted(estudiantes, key=lambda x: x['nota'])
print(ordenados)

[{'nombre': 'Carlos', 'nota': 85}, {'nombre': 'Luis', 'nota': 90}, {'nombre': 'Ana', 'nota': 100}]

#all(iterable)
 Devuelve `True` si todos los elementos del iterable son verdaderos.

In [17]:
valores = [True, True, True]
print(all(valores))  # True

valores = [True, False, True]
print(all(valores))  # False

# Con números (0 es falso)
nums = [1, 3, 5]
print(all(nums))  # True

nums = [1, 0, 5]
print(all(nums))  # False

True
False
True
False

#any(iterable)
Devuelve `True` si algún elemento del iterable es verdadero.
Devuelve `False` solo si todos son falsos

In [ ]:
valores = [False, False, True]
print(any(valores))  # True

valores = [False, False, False]
print(any(valores))  # False

# También con números
nums = [0, 0, 2]
print(any(nums))  # True

#max(iterable, key=opcional) , min(iterable,key=opcional)
Devuelve el elemento más grande.
Puedes usar `key=` para personalizar cómo se evalúa.

min tiene funcionalidad similar pero con el elemento menor.

In [21]:
print('max: ')
nums = [3, 8, 1, 9, 5]
print(max(nums))  # 9

palabras = ['casa', 'ratón', 'elefante']
print(max(palabras, key=len))  # 'elefante' (la más larga)

print('\nmin: ')
nums = [3, 8, 1, 9, 5]
print(min(nums))  # 1

palabras = ['casa', 'ratón', 'elefante']
print(min(palabras, key=len))  # 'casa'

max:
9
elefante

min:
1
casa

#enumerate(iterable, start=0)

Devuelve un iterador con tuplas (índice, valor).
Ideal para bucles for donde necesitas contar los elementos.

In [25]:
frutas = ['manzana', 'pera', 'uva']

print(tuple(enumerate(frutas)))

for i, fruta in enumerate(frutas):
    print(i, fruta)

((0, 'manzana'), (1, 'pera'), (2, 'uva'))
0 manzana
1 pera
2 uva

#zip(*iterables)

Une varios iterables en pares, formando tuplas.
Es como un cierre de cremallera (`zip`), juntando elementos posición a posición.

In [26]:
nombres = ['Ana', 'Luis', 'Carlos']
edades = [25, 30, 28]

combinado = zip(nombres, edades)
print(list(combinado))  # [('Ana', 25), ('Luis', 30), ('Carlos', 28)]

# También se puede desempaquetar:
for nombre, edad in zip(nombres, edades):
    print(f"{nombre} tiene {edad} años")

[('Ana', 25), ('Luis', 30), ('Carlos', 28)]
Ana tiene 25 años
Luis tiene 30 años
Carlos tiene 28 años